
.nav{
	font-size: 1.3em;
	font-weight: bold;

	display: grid;
	grid-auto-flow: column;
	grid-template-columns: auto auto;
	align-items: center;
	justify-content: space-between;
}

.nav-items{
	list-style: none;
	
	display: grid;
	grid-auto-flow: column;
	grid-column-gap: 20px;
}

.nav-link-dark{
	color: #CBCBCB;
}

.nav-active-link{
	color: #BB2E34;
}

.nav-active-link-dark{
	color: #BB2E1F;
}